{
  "root": true,
  "extends": ["plugin:prettier/recommended", "eslint:recommended"],
  "env": {
    "amd": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "globals": {
    "log": true
  }
}